.1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 228.96875202655792, 217.8125050663948, 1);
	width:1440px;
	height:1024px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
	position:absolute;
}
.e2_64 { 
	color:rgba(0, 0, 0, 1);
	width:171px;
	height:37px;
	position:absolute;
	left:483px;
	top:539px;
	font-family:Judson;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.2_65 { 
	border:1px solid rgba(161.0000056028366, 39.00000147521496, 0, 1);
}
.e2_65 { 
	width:396px;
	height:47px;
	position:absolute;
	left:539px;
	top:584px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e2_66 { 
	color:rgba(0, 0, 0, 1);
	width:234px;
	height:26px;
	position:absolute;
	left:555px;
	top:600px;
	font-family:Judson;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.2_67 { 
	border:1px solid rgba(161.0000056028366, 39.00000147521496, 0, 1);
}
.e2_67 { 
	width:392px;
	height:52px;
	position:absolute;
	left:539px;
	top:690px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e2_68 { 
	color:rgba(0, 0, 0, 1);
	width:171px;
	height:39px;
	position:absolute;
	left:488px;
	top:650px;
	font-family:Judson;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e2_69 { 
	color:rgba(0, 0, 0, 1);
	width:282px;
	height:28px;
	position:absolute;
	left:552px;
	top:709px;
	font-family:Judson;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e2_70 { 
	background-color:rgba(255, 255, 255, 1);
	width:31px;
	height:32px;
	position:absolute;
	left:880px;
	top:695px;
}
.2_70 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e2_71 { 
	background-color:rgba(255, 255, 255, 1);
	width:35px;
	height:25px;
	position:absolute;
	left:876px;
	top:595px;
}
.2_71 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e2_72 { 
	background-color:rgba(161.0000056028366, 39.00000147521496, 0, 1);
	width:293px;
	height:48px;
	position:absolute;
	left:573px;
	top:771px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e2_73 { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:28px;
	position:absolute;
	left:666px;
	top:771px;
	font-family:Judson;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e2_74 { 
	color:rgba(0, 0, 0, 1);
	width:380px;
	height:26px;
	position:absolute;
	left:411px;
	top:867px;
	font-family:Judson;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e2_75 { 
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:26px;
	position:absolute;
	left:843px;
	top:867px;
	font-family:Judson;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e2_76 { 
	color:rgba(161.49999797344208, 38.75999875366688, 0, 1);
	width:248px;
	height:36px;
	position:absolute;
	left:613px;
	top:947px;
	font-family:Judson;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.6_63 { 
	border:1px solid rgba(161.49999797344208, 38.75999875366688, 0, 1);
}
.e6_63 { 
	width:694px;
	height:487px;
	position:absolute;
	left:373px;
	top:516px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e2_79 { 
	color:rgba(116.8750025331974, 28.31134982407093, 0, 1);
	width:162px;
	height:29px;
	position:absolute;
	left:1097px;
	top:20px;
	font-family:Judson;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e2_81 { 
	background-color:rgba(0, 0, 0, 1);
	width:28px;
	height:30px;
	position:absolute;
	left:1245px;
	top:19px;
}
.e2_82 { 
	background-color:rgba(0, 0, 0, 1);
	width:35px;
	height:30px;
	position:absolute;
	left:1293px;
	top:19px;
}
.e2_83 { 
	background-color:rgba(0, 0, 0, 1);
	width:32px;
	height:30px;
	position:absolute;
	left:1343px;
	top:19px;
}
.e7_70 { 
	color:rgba(0, 0, 0, 1);
	width:357px;
	height:44px;
	position:absolute;
	left:69px;
	top:38px;
	font-family:Judson;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.7_71 { 
	border:1px solid rgba(161.49999797344208, 38.75999875366688, 0, 1);
}
.e7_71 { 
	width:378px;
	height:78px;
	position:absolute;
	left:48px;
	top:19px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e7_93 { 
	color:rgba(123.24999645352364, 0, 0, 1);
	width:586px;
	height:69px;
	position:absolute;
	left:449px;
	top:451px;
	font-family:Creepster;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e13_6 { 
	width:461px;
	height:343px;
	position:absolute;
	left:511px;
	top:118px;
	background-image:url(images/screenshot_2022_11_20_161830_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_7 { 
	color:rgba(116.8750025331974, 28.31134982407093, 0, 1);
	width:162px;
	height:29px;
	position:absolute;
	left:971px;
	top:20px;
	font-family:Judson;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e13_8 { 
	color:rgba(116.8750025331974, 28.31134982407093, 0, 1);
	width:162px;
	height:29px;
	position:absolute;
	left:890px;
	top:20px;
	font-family:Judson;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
